@model IQueryable<Game>

<div class="App">
    <div class="home-page">
        @foreach (Game game in Model)
        {
            <div class="game-item">
                <div class="game-cover" style="background-image: url('@game.TitleImage')">
                </div>

                <div class="game-item__details">
                    <span class="game-item__title">@game.Name</span>

                    <div class="game-item__genre">
                        @game.Category
                    </div>

                    <div class="game-item__buy">
                        <div class="game-buy">
                            <span class="game-buy__price">@game.Price.ToString("c")</span>

                            <button class="btn__ btn--primary">В корзину</button>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>